/*General Styles*/

.relative-container.elementor-element{
    position: relative;
    min-height: 80vh;
    overflow: hidden;
}

.background-element.elementor-widget{
    position: absolute;
    z-index:0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

}

.background-element.elementor-widget img{
    width: 100%;
    max-width: unset;
    object-fit: cover;
}

.content-container.elementor-element{
   height: 100%; 
   width: 100%;
}
.slicknav_menu{
    display:none;
}

@media screen and (max-width: 40em){
.my-main-menu{
        display: none;
    }
.slicknav_menu{
    display:block;
}

}

.model-container, .image-container {
    text-align: center; /* Centra los elementos */
    margin: 20px 0; /* Añade un margen arriba y abajo */
}

.model-iframe {
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    height: 800px; /* Ajusta la altura según tus necesidades */
    max-width: 1200px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el iframe */
}

.foto-proyecto {
    width: 80%; /* Ajusta el tamaño según tus necesidades */
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor padre */
    height: auto; /* Mantiene la proporción de la imagen */
}


.ast-container{
    margin-top:5rem;
}

.card-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
    list-style: none;
    padding: 0;
}

.card {
    background-color: #fff; /* Fondo blanco para las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: box-shadow 0.3s ease; /* Transición suave */
    overflow: hidden; /* Evita que el contenido desborde */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}

.container {
    padding: 16px; /* Espaciado interno del contenedor */
}

.card img {
    max-width: 100%; /* Imagen ajustada al 100% del contenedor */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
